{% extends 'grandmaster.html' %}
{% block title %} About {% endblock title %}

<!-- navlinks -->
{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li> <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li class="active"> <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}
<!-- hero titile -->
{% block herotitle %}About{% endblock herotitle %}
{% block hero_text %}Know Who we are !!{% endblock hero_text %}



{% block contentbody %}
    <!--About section -->
    <section class="category" id="about-bx" style="margin-top: 100px;">
        <div class="title">
            <h4>| About</h4>
            <p>Know who we are?</p>
        </div>
        <div class="about-bx">
            <div class="col-bx">
                <div>
                    <p>
                        This project OnBook - Online Books reading Platform is develop for those student as
                        well as those people who likes the book reading. This project solve the all problems
                        of readers. In this Website Readers can make their profile on the website and add
                        their favourite book in Saved Book Section and After login they can also able to
                        Make a book request which is currently is not available on website
                    </p>
                    <br />
                    <br />
                    <p>
                        We have Two modules in this website. First User Module or Reader Module and
                        Second is Admin Module
                    </p>
                     <br />
                    <br />
                    <p>
                        Project By <b> Anuj Rathore</b>
                    </p>
                    <ul class="aboutpage-links">
                        <li><a href="https://wa.me/916355121278" target="_blank"><i class="fa-brands fa-whatsapp"></i></i> <span>Whatsapp</span></a></li>
                        <li><a href="https://www.instagram.com/aj_creations77/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i> <span>Instagram </span></a></li>
                        <li><a href="https://github.com/anujxcode" target="_blank"><i class="fa-brands fa-github"></i><span>GitHub</span> </a></li>
                        <li><a href="https://www.linkedin.com/in/aj-rathore-121488224/" target="_blank"><i class="fa-brands fa-linkedin"></i><span>Linkedin</span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCiA0IKwfYLBJHWCCkgrPPYQ" target="_blank"><i class="fa-brands fa-youtube"></i><span>You Tube</span></a></li>
                      
                    </ul>
                </div>
                <div style="margin-top:40px;">
                    <a  style="background:none;border:none; font-size:18px;margin-bottom:20px; font-weight:600;color:#333; border-bottom:2px solid #333; text-decoration:none;" href="../static/Docs/project_docs.pdf" target="_blank">Read Documentation </a>
                </div>
            </div>
             <div class="col-bx about_img">
                 <img  src="../static/images/ABOUT_IMG1.png"/>
             </div>
         </div>
    </section>

    {% endblock contentbody %}