{% extends 'grandmaster.html' %}

<!--page title  -->
{% block title %} Books {% endblock title %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li class="active"> <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}


<!-- content body -->
{% block contentbody %}  

 <!--hero banner  -->
 <!-- <section class="hero hero_books">
    <div class="hero-content ">
        <h4 style="font-size: 48px;font-weight:bold;">Books</h4>
        <p>Read & Save your favrate Books </p>
    </div>
</section> -->


<div class="menu" id="menu">
    <div class="left-part">
        <div class="box">
            <h3><i class="fa-solid fa-grip"></i> &nbsp;&nbsp;Category</h3>
            <hr>
            <ul>
                <a href="/books/"><li>All Books</li></a>
                {% for cat in Category %}
                <a href="/books/?categories={{cat.id}}"><li>{{cat.category_name}} </li></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="right-part">
        <div class="title">
            
            <h4 id="fiction" style="text-transform: capitalize;">| {{catName}} books</h4>
            <p>Choose books your likes</p>
        </div>

        <div class="menu-content books_page_menu" id="fiction">
            {% if books %}
            <!--row1-->
            {% for book in books %}
            
            <div class="box ">
                <div class="img-bx">
                    <!-- <a href="pdf/new.pdf"> <img src="../static/images/c_book1.jpg" alt="item"></a> -->
                <a href="/bookdetails/{{book.id}}/" ><img src="{{book.book_img.url}}" alt="bookimg"></a>
                </div>

                <div class="text">
                    <div class="book_title">
                        <h3 >{{book.book_title}}</h3>
                        <p>{{book.book_author}}</p>
                    </div>
                </div>
            </div> 
        
            {% endfor %} 
            {% else %}
           
               <div class="nodata" style="text-align:center;">
                <div class="img" style="width:100px;margin:auto; ">
                    <img src="/static/images/nodata.svg" style="width:100%;">
                </div>
               <p> No Books found !! <a href="/request/">request</a>  book </p>
           
               </div>
              
                
   
            {% endif %}
    
        </div>
    </div>
</div>

{% endblock contentbody %}