{% extends 'grandmaster.html' %}

<!--page title  -->
{% block title %}Book Details {% endblock title %}
{% block navlinks %}
<ul>
    <li><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li> <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li> <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}

{% block contentbody %}
<section class="detailsPage">
    <div class="dbrow">
        <div class="dbcol-bx1">
            <div class="img-bx">
                <img src="{{book.book_img.url}}" alt="">
                <div class="freetag">
                    <p><i class="fas fa-tag"></i> &nbsp;Free</p>
                </div>
            </div>
            
        </div>
        <div class="dbcol-bx2">
            <!-- <h3>Death Before Breakfastr</h3> -->
            <h3>{{book.book_title}}</h3>
            <!-- <h4>George Bellairs</h4> -->
            <h4>{{book.book_author}}</h4>
            <div class="category">
                <p>Category: <span> {{book.category}} </span> <br>Page: <span>{{book.book_page}}</span></p>
                <div><p>Publish Date: <span>{{book.book_upload_date}}</span> <br> Language: <span>{{book.book_lng}}</span></p></div>
            </div>
            <div class="about_book">
                <h4>About Book</h4>
                <p>{{book.book_desc}}</p>
            </div>
            <div class="btns">
                <span><a href="{{book.book_file.url}}">READ NOW</a></span>
                <span>
                    {% if is_book_saved %}
                        <a href="/savedbook/">Saved !</a>
                    {% else %}
                    <form action="/savedbook/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{book.id}}" id ="book_id">
                        <button type ="submit" style="background: none;outline:none;border:none;color:#fff;font-size:18px;">SAVE BOOK</button>
                    </form>  
                    {% endif %} 
                </span>
            </div>
           
        </div>
    </div>
</section>
{% endblock contentbody %}