{% extends 'grandmaster.html' %}

<!--page title  --> 
{% block title %}Change password {% endblock title %}

<!-- hero titile -->
{% block herotitle %}Sign Up{% endblock herotitle %}
{% block hero_text %}Sign up and enjoy free book reading!{% endblock hero_text %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li > <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}

<!-- content body -->
{% block contentbody %}  

<body > 
    <div class="form-bx">
        
        <form method="post" action="/account/changepassword/" >
            {% csrf_token %}
            <div class="input-bx">
                <br />
                <h3>Change Password</h3>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input id="txt_opassword" placeholder="Old Password" name="oldpass" class="TextBoxCss" type="password"  MinLength="8" >
                </div>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input id="txt_password" placeholder="New Password" name="newpass" class="TextBoxCss" type="password"  MinLength="8" >
                </div>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input id="txt_cpassword" placeholder="Confirm Password" name="cnewpass" class="TextBoxCss" type="password"  MinLength="8" >
                </div>
                <div class="check-bx">
                <span>
                    <input type="checkbox"  id="check_box_show" onchange="ShowPass()"/>
                    &nbsp; Show Password</span>
            </div>
            <br />
            <div id="log-btn-bx">
                <input id="SubmitBtn"class="btn_css2" type="submit" value="Submit" OnClick="SubmitBtn_Click"/>
            </div>
             <div class="link">Forget Passwrod? <a href="/account/resetpassword/">Click here</a></div>
            </div>
        </form>
    </div>
</body>

{% endblock contentbody %}

