{% extends 'grandmaster.html' %}
{% block title %} Saved {% endblock title %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li > <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li class="active"> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li > <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}


{% block contentbody %}

<section class="savedbook">
    <div class="title">
        <h4 id="fiction">| Hello, {{user.first_name}} Your Library</h4>
        <p>Choose books your likes</p>

    </div> <br><br><br><br>
    <div class="reqBox">
        <center>
        <div class="img" style="width:200px; text-align: center; ">
            <img src="/static/images/emptycart.svg" style="width:100%;">
        </div>
        <h3 style="margin:30px auto;font-size: 20px;color:#666;font-weight: 400; ">
            No Books in your Library!! Go and save your favraute books
        </h3>
        <div class="btn">
            <a href="/books/" class="btn_css" style="width:150px;display:inline-block"> GO</a>
        </div>
        </center>
    </div>
   
</section>
{% endblock contentbody %}