{% extends 'grandmaster.html' %}

<!--page title  -->
{% block title %}Sign Up {% endblock title %}

<!-- hero titile -->
{% block herotitle %}Sign Up{% endblock herotitle %}
{% block hero_text %}Sign up and enjoy free book reading!{% endblock hero_text %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li > <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}

<!-- content body -->
{% block contentbody %}  

<section class="request-book">
    <div class="title">
        <h4>| Request </h4>
        <p>Request a book which you want to read and it's not ab right now</p>
    </div>

   
    <div class="request-bx" id ="request">
     <form action ="/" method="post">
       {% csrf_token %}
         <span id="request-input-bx">
              <input type="text" name="reqbook" placeholder="Enter Book Name">
              &nbsp; &nbsp;&nbsp; &nbsp;
              <input type="text" name="reqauthor" placeholder="Enter Author Name"></asp:TextBox>
         </span>
       
         <span>
          <input type="submit"  value="Request" class="btn_css rq_btn " OnClick="btn_requesst_Click"/>
         </span>
    
         <div class="note">
             <p><strong>Note: </strong> Don't ask for school,college or examination specific books(Basically Academic Book) for they are<br /> more prone to copayright issues.</p>
         </div>
   </form>
  </div>  
</section>


{% endblock contentbody %}


