{% extends 'grandmaster.html' %}

<!--page title  -->
{% block title %}Forget password {% endblock title %}

<!-- hero titile -->
{% block herotitle %}Sign Up{% endblock herotitle %}
{% block hero_text %}Sign up and enjoy free book reading!{% endblock hero_text %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li > <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}

<!-- content body -->
{% block contentbody %}  

<body > 
    <div class="form-bx  " style="margin: 50px auto; ">
        
        {% if request.GET.sent == 'True' %}
        <form method="post" action="/account/verfiyreset/" >
            {% csrf_token %}
            <div class="input-bx">
                <br />
                <h3>Verify OTP</h3>
                <div>
                    <input type="text" name="votp" placeholder="Enter otp " class="TextBoxCss" >
                </div>
            </div>
            <br />
           
            <div id="log-btn-bx">
                <input id="SubmitBtn"class="btn_css2" type="submit" value="Verify"/>
            </div>
            <br> <br>
             <div class="link">Enter your email here and we <br>will send you an One Time Password So Then enter that One time password you will be the <br>reset password Page where you can resert your password or <br>If you don't want to reste password go back to home page <a href="/">click here</a></div>
            </div>
        </form>    
        {% else %}
        <form method="post" action="/account/resetpassword/" >
            {% csrf_token %}
            <div class="input-bx">
                <br />
                <h3>Reset Password</h3>
                <div>
                    <input id="txt_name" type="text" name="email" placeholder="Enter your email" class="TextBoxCss" >
                </div>
            </div>
            <br />
           
            <div id="log-btn-bx">
                <input id="SubmitBtn"class="btn_css2" type="submit" value="Submit"/>
            </div>
            <br> <br>
             <div class="link">Enter your email here and we <br>will send you an One Time Password So Then enter that One time password you will be the <br>reset password Page where you can resert your password or <br>If you don't want to reste password go back to home page <a href="/">click here</a></div>
            </div>
        </form>
        {% endif %}
    </div>
</body>

{% endblock contentbody %}

