{% extends 'grandmaster.html' %}
{% block title %} Saved {% endblock title %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li > <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li class="active"> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li > <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}
<!-- hero titile -->
{% block herotitle %}Saved {% endblock herotitle %}
{% block hero_text %}Here you find your saved books!!{% endblock hero_text %}


{% block contentbody %}

<section class="savedbook">
    <div class="title">
        <h4 id="fiction">| Hello, {{user.first_name}} Your Saved Books</h4>
        <p>Choose books your likes</p>

    </div> <br><br><br><br>
<div class="row align-start">
    
    <div class="col-lg-6">
        {% if SB %}
            {% for sb in SB %}
            <div class="svrow">
                <div class="box">
                    <div class="svcol-bx1">
                        <div class="img-bx ">
                            <img src="{{ sb.books.book_img.url}}" alt="">
                        </div>
                    </div>
                    <div class="svcol-bx2">
                        <h3 style="font-size:20px;color:var(--nav-dark);font-weight:600;">{{sb.books.book_title}}</h3>
                        <h4 style="font-size: 14px; color:#666; font-weight:500;">{{sb.books.book_author}}</h4>
                        <div class="btns" style='margin-top: 30px;'>
                            <span><a href="/media/{{sb.books.book_file}}" class="btn_css2 sm-btn">READ</a></span>
                            <span><a href="/remove_saved_book/{{sb.id}}/" class="btn_css sm-btn">REMOVE</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% else %}
        <div class="reqbox">
            <center>
            <div class="img" style="width:200px; text-align: center; ">
                <img src="/static/images/emptycart.svg" style="width:100%;">
            </div>
            <h3 style="margin:30px auto;font-size: 20px;color:#666;font-weight: 400; ">
                No Books in your Library!! Go and save your favraute books
            </h3>
            <div class="btn">
                <a href="/books/" class="btn_css" style="width:150px;display:inline-block"> GO</a>
            </div>
            </center>
        </div>
       
        {% endif %}
    </div>

    <div class="col-lg-6">
        <div class="reqbox">
            <h4>Requested Books</h4>
            <hr>
            {% if reqbook %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Book</th>
                        <th>Author</th>
                        <th>Req Date</th>
                        <th>Stutus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rb in reqbook %}
                    <tr>
                        <td>{{rb.book_name}}</td>
                        <td>{{rb.author_name}}</td>
                        <td>{{rb.req_date}}</td>
                        <td id ="req_status">{{rb.req_status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div style="text-align:center;margin-top: 50px;">
                <h3>NO REQUESTS YET</h3> <br>
                <a href="/request/" class="btn_css" style="width:150px;display:inline-block"> Request</a>
               
            </div>
    
            {% endif %}
        </div>
    </div>
</div>

</section>

<script type="text/javascript">
    var REQ_STATUS  = document.getElementById('req_status');

    if(REQ_STATUS.innerText =="Accepted"){
        REQ_STATUS.style.color ="green";
    }
    else if(REQ_STATUS.innerText =="Rejected"){
        REQ_STATUS.style.color ="red";
    }
    else if(REQ_STATUS.innerText =="Success"){
        REQ_STATUS.style.color ="blue";
    }
    else{
        REQ_STATUS.style.color ="#333"
    }
</script>
{% endblock contentbody %}