{% extends 'grandmaster.html' %}

<!--page title  -->
{% block title %}Sign Up {% endblock title %}

<!-- hero titile -->
{% block herotitle %}Sign Up{% endblock herotitle %}
{% block hero_text %}Sign up and enjoy free book reading!{% endblock hero_text %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li > <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}

<!-- content body -->
{% block contentbody %}  

<body > 
    <div class="form-bx">
        
        <form method="post" action="/account/signup/" >
            {% csrf_token %}
            <div class="input-bx">
                <br />
                <h3>Sign Up</h3>
                <div>
                    <input id="txt_name" type="text" name="name" placeholder="Name" class="TextBoxCss" >
                </div>
                <div>
                    <input id="txt_username" type="text" name="username" placeholder="username" class="TextBoxCss" >
                </div>
                <div>
                    <input id="txt_email" type="email" name="email"  placeholder="Email" class="TextBoxCss" >
                </div>
                <!-- <div style="padding:10px; background:#f4f4f4; border-radius:0;">
                    <input type="radio" id="rd_male" name="gender"  value="M" /> &nbsp;<label class="lbl_gender" for="rd_mail">Male</label>  &nbsp;  &nbsp; &nbsp; 
                    <input type="radio" id="rd_female" name="gender"  value="F"/>&nbsp; <label class="lbl_gender" for="rd_femail">Female</label>
                </div>
                <div style="padding:10px; background:#f4f4f4; border-radius:0;display: flex;justify-content: space-between;">
                  <label for="datef" style="opacity: 0.5;">Birthday</label>
                  <input type="date" id="datef" name="birthday" class="date_css" >
                </div> 
                <div>
                <input id="txt_number"  placeholder="Phone" name="phone" class="TextBoxCss"  maxlength="10" minlength="10"  >
                </div>
                <div>
                    <input id="txt_city" placeholder="City" name="city" class="TextBoxCss" >
                </div> -->
                <div>
                    <input id="txt_password" placeholder="Password" name="userpass" class="TextBoxCss" type="password"  MinLength="8" >
                </div>
                 <div>
                    <input id="txt_cpassword" type="password" name="cpass"class="TextBoxCss" placeholder="Confirm Password"  MinLength="8" >
                </div>

                <div class="check-bx">
                <span>
                    <input type="checkbox"  id="check_box_show" onchange="ShowPass()"/>
                    &nbsp; Show Password</span>
            </div>


             
            <br />
           
            <div id="log-btn-bx">
                <input id="SubmitBtn"class="btn_css2" type="submit" value="Submit" OnClick="SubmitBtn_Click"/>
            </div>
             <div class="link">Already Have Account? <a href="/account/signin/">Click here</a></div>
            </div>
        </form>
    </div>
</body>

{% endblock contentbody %}


<body > 
    <div class="form-bx ">
        <form id="form1" runat="server">
            <asp:Label ID="reg_f2_massage" runat="server" Text=" " AlignCenter="true"></asp:Label>
             <asp:Label ID="reg_f_massage" runat="server" Text=" " AlignCenter="true"></asp:Label> 
            <asp:Label ID="reg_s_massage" runat="server" Text=" " AlignCenter="true"></asp:Label>
            <div class="input-bx">
                <br />
                <h3>Sign Up</h3>
               <div id="line1"></div>
                <div>
                    <asp:TextBox ID="txt_name"  placeholder="Name" class="TextBoxCss" runat="server"></asp:TextBox>
                </div>
                <div>
                    <asp:TextBox ID="txt_email"   placeholder="Email" class="TextBoxCss"  type="email" runat="server"></asp:TextBox>
                </div>
                <div style="padding:10px; background:#f4f4f4; border-radius:0;">
                    <asp:RadioButton ID="rd_male" GroupName="gender" runat="server" /> &nbsp;<label class="lbl_gender" for="rd_mail">Male</label>  &nbsp;  &nbsp; &nbsp; 
                    <asp:RadioButton ID="rd_female" GroupName="gender" runat="server" />&nbsp; <label class="lbl_gender" for="rd_femail">Female</label>
                </div>
                <div>
             <asp:TextBox ID="txt_number"  placeholder="Phone" class="TextBoxCss" runat="server" MaxLength="10" MinLength="10" onkeypress="return isNumberKey(eve)" ></asp:TextBox>
                </div>
                <div>
                    <asp:TextBox ID="txt_city" placeholder="City" class="TextBoxCss" runat="server"> </asp:TextBox>
                </div>
                <div>
                    <asp:TextBox ID="txt_password" placeholder="Password" class="TextBoxCss" type="password"  MinLength="8" runat="server"></asp:TextBox>
                </div>
                 <div>
                    <asp:TextBox ID="txt_cpassword" type="password" class="TextBoxCss" placeholder="Confirm Password"  MinLength="8" runat="server"></asp:TextBox>
                </div>

                <div class="check-bx">
                <span>
                    <input type="checkbox"  id="check_box_show" onchange="ShowPass()"/>
                    &nbsp; Show Password</span>
            </div>


             
            <br />
           
            <div id="log-btn-bx">
                <asp:Button ID="SubmitBtn" runat="server" Text="Submit" OnClick="SubmitBtn_Click"/>
            </div>
             <div class="link">Already Have Account? <a href="login.aspx">Click here</a></div>
            </div>
        </form>
    </div>
    <script src="js/JavaScript.js" type="text/javascript"></script>
</body>