{% extends 'grandmaster.html' %}

<!--page title  -->
{% block title %}Sign in {% endblock title %}

<!-- hero titile -->
{% block herotitle %}Sign Up{% endblock herotitle %}
{% block hero_text %}Sign up and enjoy free book reading!{% endblock hero_text %}

{% block navlinks %}
<ul>
    <li ><a href="/index/"><i class="fas fa-home"></i> HOME</a></li>
    <li > <a href="/books/"><i class="fas fa-book"></i>BOOKS</a></li>
    <li > <a href="/about/"> <i class="fas fa-address-card"></i>ABOUT</a></li>
    <li> <a href="/savedbook/"><i class="fas fa-bookmark"></i>SAVED BOOKS</a></li>
    <li> <a href="/contact/"><i class="fab fa-telegram-plane"></i> CONTACT</a></li>  
</ul>
{% endblock navlinks %}

<!-- content body -->
{% block contentbody %} 
<div class="form-bx ">
        
    <form method="post" action="/account/signin/" >
        {% csrf_token %}
        <div class="input-bx">
            <br />
            <h3>Log in</h3>
            <div>
                <i class="fa-solid fa-user"></i> 
                <input id="txt_email" type="text" name="username"  placeholder='Email' class="TextBoxCss" >
            </div>
            <div>
                <i class="fa-solid fa-lock"></i>
                <input id="txt_password" placeholder="Password" name="password" class="TextBoxCss" type="password"  MinLength="4" >
            </div>
            <div class="check-bx">
            <div style="display:flex;align-items:center;justify-content:space-between">
                <div>
                    <input type="checkbox"  id="check_box_show" onchange="ShowPass()"/>
                    &nbsp; Show Password
                </div>
                <div>  
                    <a href="/account/resetpassword/">Forget Password</a>
                </div>
            </div>
            
        </div>
       
        <div id="log-btn-bx">
            <input id="SubmitBtn"class="btn_css2" type="submit" value="Login" OnClick="SubmitBtn_Click"/>
        </div>
         <div class="link">Create Account? <a href="/account/signup/">Click here</a></div>
        </div>
    </form>
</div>

{% endblock contentbody %}  